<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>High Vibrations</title>
  </head>
  <body>
    <h1>Vibrations of the Soul</h1>
    <p><%= quote.content %></p>
    <h5><%= quote.author %></h5>
  </body>
</html>
