@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    padding: 30px 60px;
    background-color: #f0f0f0;
    font-family: "Quicksand", sans-serif;
  }

  h1{
    font-family: "Protest Guerrilla", sans-serif;;
  }
  
  .quote-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1.5rem;
  }

  .quote-category {
    text-transform: capitalize;
  }

  .blob {
    position: relative;
    width: 400px;
    height: 300px;
    background: linear-gradient(135deg, #8EC5FC, #E0C3FC);
    border-radius: 50% 40% 60% 30% / 50% 60% 30% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }
  
  .quote {
    font-size: 1.2em;
    color: white;
    text-align: center;
    line-height: 1.4;
  }
  
  /* footer section */

  footer{
    margin-top: auto;
  }